# https://github.com/airbnb/javascript#table-of-contents
# http://www.acuriousanimal.com/2016/08/14/configuring-atom-with-eslint.html
{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "commonjs": true
  },
  "globals": {
    #"example": 1
  },
  "rules": {
    # "strict": 1
    "indent": ["error", 4],
    "import/extensions": "always"
  }
}
