/**
 * Scrollbars
 */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--grey);
}

::-webkit-scrollbar-thumb {
    background: var(--brighter-grey);
}

/**
 * Variables
 */
:root {
    --black: #000;
    --main-bg-color: #111;
    --layout-gaps: 20px;
    --base-font-color: #fff;
    --grey: #191919;
    --bright-grey: #222;
    --brighter-grey: #353535;
    --green: #43d08a;
    --form-input-border: #4a4a4a;
    --note-interactions: 50px;
    --note-interactions-hover: #454545;
    --sort-highlight-color: #fffb00;
}

/**
 * Base formattings
 */
html,
body {
    height: 100%;
}

body {
    color: var(--base-font-color);
    font-family: sans-serif;
    line-height: 1.5em;
    background-color: var(--main-bg-color);
    overflow-y: auto;
}

/**
 * Helpers
 */
.hidden {
    display: none;
}

.insivible {
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/**
 * Buttons
 */
.button {
    background-color: var(--grey);
    color: inherit;
    border: 1px dotted var(--brighter-grey);
    padding: 1.5em 3.5em;
    cursor: pointer;
    transition: box-shadow 0.125s;
    outline: 0;
    text-decoration: none;
}

.button__icon {
    width: 100%;
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.25em;
}

.button--small {
    padding: 0.75em 1em;
}

.button:hover,
.button:focus {
    background-color: var(--bright-grey);
}

.button--active,
.button--active:hover,
.button--active:focus {
    background-color: var(--sort-highlight-color);
    color: var(--black);
    position: relative;
    top: -5px;
}

.button--active::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 14px 0 14px;
    border-color: var(--sort-highlight-color) transparent transparent transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -14px;
}

.button--checkbox::before {
    content: "\f096";
    display: inline-block;
    font: normal normal normal 14px/1 "FontAwesome", sans-serif;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}

.button--active.button--checkbox::before {
    content: "\f046";
}

/**
 * Layout - Standard
 */
.container {
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    display: grid;
    grid-gap: var(--layout-gaps);
    padding: var(--layout-gaps);
    height: 100%;
    max-height: 100%;
    transition: filter 0.25s;
}

/**
 * Layout - Overview
 */
.container--overview {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "add switcher"
        "sort status"
        "notes status";
}

/**
 * Layout - Add/Edit
 */
.container--add-edit {
    grid-template-rows: 1fr auto;
    max-height: none;
    min-height: 100%;
    height: auto;
}

/**
 * Style switch
 */
.container--white {
    filter: invert(1);
}

.switcher {
    grid-area: switcher;
    white-space: nowrap;
}

/**
 * Add button
 */
.add {
    grid-area: add;
    white-space: nowrap;
}

/**
 * Filter
 */
.sort {
    grid-area: sort;
}

.sort__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.sort__item {
    margin-right: 2px;
}

/**
 * Notes
 */
.notes {
    grid-area: notes;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 10px;
}

.note {
    display: grid;
    grid-template-columns: 20px 1fr var(--note-interactions);
    grid-template-areas: "note-importance note-content note-interactions";
    margin: 0 0 var(--layout-gaps);
    background-color: var(--grey);
    border: 1px dotted var(--brighter-grey);
}

.note--hidden {
    display: none;
}

.note--done:not(:hover) {
    text-decoration: line-through;
    opacity: 0.5;
}

.note__importance {
    grid-area: note-importance;
    margin: 0;
    background-color: var(--base-font-color);
    cursor: help;
}

.note__importance--0 {
    background-image:
        linear-gradient(
            to right,
            var(--brighter-grey) 0%,
            var(--brighter-grey) 100%
        );
}

.note__importance--1 {
    background-image:
        linear-gradient(
            to right,
            transparent,
            transparent 10%,
            var(--brighter-grey) 10%
        );
}

.note__importance--2 {
    background-image:
        linear-gradient(
            to right,
            transparent,
            transparent 50%,
            var(--brighter-grey) 50%
        );
}

.note__importance--3 {
    background-image:
        linear-gradient(
            to right,
            transparent,
            transparent 100%,
            transparent 100%
        );
}

.note--highlight-importance .note__importance {
    background-color: var(--sort-highlight-color);
}

.note__content {
    grid-area: note-content;
    padding-left: var(--layout-gaps);
    padding-right: var(--layout-gaps);
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.note__title {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    margin: var(--layout-gaps) 0 0 0;
    font-size: 1.25em;
    width: 100%;
    order: -1;
}

.note__title--expanded {
    -webkit-line-clamp: unset;
}

.note__title-hint {
    font-weight: normal;
    font-size: 64%;
}

.note__dates {
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 100%;
    padding-bottom: 1em;
}

.note__date {
    cursor: default;
    display: inline-block;
    position: relative;
}

.note__date::before {
    display: inline-block;
    font: normal normal normal 14px/1 "FontAwesome", sans-serif;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 0.5em;
}

.note__date--created::before {
    content: "\f13d";
}

.note__date--deadline::before {
    content: "\f1e2";
}

.note--highlight-creationdate .note__date--created,
.note--highlight-deadlinedate .note__date--deadline {
    color: var(--sort-highlight-color);
}

.note__paragraph {
    padding: 0;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    line-height: 1.5;
}

.note__paragraph--expanded {
    -webkit-line-clamp: unset;
}

.note__details {
    width: 100%;
    order: -1;
}

.note__interactions {
    grid-area: note-interactions;
    background-color: var(--bright-grey);
}

.note__fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

.note__label {
    display: flex;
    width: 100%;
    height: var(--note-interactions);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: inherit;
    color: inherit;
    border: 0;
}

.note__label::before {
    content: "\f096";
    display: inline-block;
    font: normal normal normal 14px/1 "FontAwesome", sans-serif;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.note__label--checked::before {
    content: "\f046";
}

.note__edit {
    display: flex;
    width: 100%;
    height: var(--note-interactions);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--brighter-grey);
    border: 0;
    color: inherit;
}

.note__interactions-item:hover,
.note__interactions-item:focus {
    background-color: var(--note-interactions-hover);
}

.note__edit::before {
    content: "\f040";
    display: inline-block;
    font: normal normal normal 14px/1 "FontAwesome", sans-serif;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.note__edit--delete {
    background-color: var(--bright-grey);
}

.note__edit--delete::before {
    content: "\f014";
}

/**
 * Status
 */
.status {
    grid-area: status;
    background-color: var(--grey);
    padding: 1em;
}

/**
 * Add/Edit
 */
.add-edit__fieldset {
    padding: 0;
    border: 0;
}

.add-edit__group {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: var(--layout-gaps);
    grid-template-rows: auto 1fr auto auto;
    height: 100%;
}

.add-edit__group--importance {
    display: block;
    padding: 20px 0;
}

.add-edit__group--actions {
    grid-template-rows: unset;
}

.add-edit__label {
    cursor: pointer;
    background-color: inherit;
    border: 2px solid var(--form-input-border);
    color: inherit;
    border-left: 0;
    border-right: 0;
    padding: 20px 0;
    border-color: transparent;
    line-height: 1;
}

.add-edit__input {
    background-color: inherit;
    border: 2px solid var(--form-input-border);
    color: inherit;
    padding: 20px;
}

.add-edit__input:focus {
    border-color: var(--base-font-color);
}

.add-edit__input:required:valid {
    background-image: url(../images/iconmonstr-check-mark-1.svg);
    background-position: right 20px center;
    background-repeat: no-repeat;
    background-size: auto 1em;
    padding-right: 3.75em;
}

.add-edit__input:required:valid:focus {
    border-color: var(--green);
    outline: none;
}
